<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        onload = function () {
            setInterval(go, 1000);
        };
        var x = 2; //利用了全局变量来执行
        function go() {
            x--;
            if (x > 0) {
                document.getElementById("sp").innerHTML = x; //每次设置的x的值都不一样了。
            } else {
                location.href = '';
            }
        }
    </script>
</head>
<body>
    <div style="font-size: 50px">
        注册失败，表所有字段不能为空，2秒后自动跳回注册页面
    </div>
</body>
</html>