{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
        function checkIn() {
{#            alert(typeof $('#checkIn').serialize());#}
            $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/archive/stuCheckIn/" ,//url
                data: $('#checkIn').serialize(),
                success: function (result) {
{#                    alert(result.key == 1);#}
{#                    console.log(result);//打印服务端返回的数据(调试用)#}
                    if (result.key == 1) {
                        alert("添加成功(*^▽^*)aaa");
                    }
                    else {
                        alert("已经有这个人啦！")
                    }
                    ;
                },
                error : function() {
                    alert("不能有空的哦");
                }
            });
        }
    </script>
{% endblock %}
{% block right %}

{% if messages %}
    <div style=" margin-left: 800px;color: red">
             {% for message in messages %}
                 {{ message }}
             {% endfor %}
    </div>
{% endif %}
<table cellpadding="9" cellspacing="0" style="margin-left: 500px;">
    <form onsubmit="return false" id="checkIn">
        {% csrf_token %}
        <tr>
            <td colspan=2 align="center">
                学生编号&emsp;<input type="text" name="sid">
                <input type="button" value="提交" onclick="checkIn();">
                <input type="reset" value="重置">
            </td>
        </tr>
        <tr>
            <td> 学生姓名&emsp;<input type="text" name="sname"></td>
            <td> 班级名称&emsp;<input type="text" name="cname"></td>
        </tr>
        <tr>
            <td>专业名称&emsp;<input type="text" name="mname"></td>
            <td>入学日期&emsp;<input type="date" name="indate"></td>
        </tr>
        <tr>
            <td>经办人&emsp;&emsp;<input type="text" name="agent"></td>
            <td> 入学分数&emsp;<input type="text" name="inscore"></td>
        </tr>
    </form>

</table>
{% endblock %}