{% extends 'base.html' %}
{% block right %}
      <script type="text/javascript">
        function testQery() {
            var tid = document.getElementById('sid');
            if(tid.value==''){
                alert('编号不能为空');
                return false
            }
            return true
        }
    </script>

    <div align="center" style="margin-top: 50px">
        <form action="/score/chooseCur/" method="get">
            {% csrf_token %}
            <table cellspacing="0" cellpadding="9px" >
                <tr >
                    <td colspan="6">
                        学生编号：<input type="text" name="sid" id="sid" onblur="return testQery()">
                        学生姓名：<input type="text" name="sname">
                        <input type="submit" value="查询" onclick="return testQery()">
                    </td>
                </tr>
            </table>

        </form>
        <hr style="border: 0.5px solid">
            <form action="/score/chooseCur/" method="post">
                <input type="hidden" value="{{ stuid }}" name="sid">
                    {% csrf_token %}
                <table cellspacing="0" cellpadding="9px" border="1px" width="65%" >
                    <tr>
                        <td>课程编号</td>
                        <td>课程名称</td>
                        <td>任课教师</td>
                        <td>考试时间</td>
                        <td>考试类型</td>
                        <td>操作</td>
                    </tr>
                    {% for cur in cur_list %}
                    <tr>
                        <td>{{ cur.curid.curid }}</td>
                        <td>{{ cur.curid.curname }}</td>
                        <td>{{ cur.tid.tname }}</td>
                        <td>{{ cur.curid.examdate }}</td>
                        <td>{{ cur.curid.examtype }}</td>
                        <td><input type="checkbox" value="{{ cur.curid.curid }}" name="cbutton"></td>
                    </tr>
                    {% endfor %}

                </table>
                <hr>
                <input type="submit" value="提交">

            </form>


    </div>
{% endblock %}